<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus provident deserunt cupiditate
                    iste,
                    minuseveniet, fugiat corporis facilis culpa sed beatae praesentium ratione accusamus. Itaque maxime
                    natus
                    illum voluptate quos!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus provident deserunt cupiditate
                    iste,
                    minuseveniet, fugiat corporis facilis culpa sed beatae praesentium ratione accusamus. Itaque maxime
                    natus
                    illum voluptatequos!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus provident deserunt cupiditate
                    iste,
                    minuseveniet, fugiat corporis facilis culpa sed beatae praesentium ratione accusamus. Itaque maxime
                    natus
                    illum voluptatequos!</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>